.canvas {
	padding: 0 rem-calc(7);
	background-color: white;
}

@include breakpoint(medium) {
	.canvas {
		padding: 0 rem-calc(28);
	}
}

@include breakpoint(large) {
	.canvas {
		padding: 0 rem-calc(32);
	}
}

@include breakpoint(xlarge) {
	.canvas {
		padding: 0 rem-calc(62);
		width: rem-calc(1440);
		margin: 0 auto;
	}
}

.title {
	margin-top: rem-calc(40);
	margin-bottom: rem-calc(32);

	.title-logo {
		width: rem-calc(108 * 1.375/1.6875);
		height: rem-calc(42 * 1.375/1.6875);
	}

	@include breakpoint(medium) {
		.title-logo {
			width: rem-calc(108);
			height: rem-calc(42);
		}

		.title-text {
			margin-left: 1.25rem;
		}
	}

	.version-info {
		font-size: rem-calc(12);
	}
}

.menu-group {
	border-bottom-style: solid;
	border-bottom-width: rem-calc(1);
	border-bottom-color: #bebebe;
	margin-bottom: rem-calc(64);
}

.menu-group-left {
	li {
		margin-right: rem-calc(17.5);
	}	
}

@include breakpoint(medium) {
	.menu-group-right {
		li {
			margin-left: rem-calc(17.5);
		}
	}
}

.menu-bar  {
	& > li > a {
		border-bottom-style: solid;
		border-bottom-width: rem-calc(5);
		border-bottom-color: white;

		@include breakpoint(medium) {
			font-size: rem-calc(18);
		}

		&:hover {
			border-bottom-color: $primary-color;
		}
	}
}
